---
import Layout from "@layout/Default.astro";
import { getCollection, render } from 'astro:content';
import { Image } from "astro:assets";

const programs = await getCollection('programs');
---

<Layout title="Programs" excerpt="Martial arts, aerobic exercise, one-on-one personal training; whatever your interest, USA Tae Kwon Do has a program to fit your needs.">
  {programs.sort((a,b)=> a.data.id - b.data.id).map(async program=> {
    const { Content } = await render(program)

    return (
    <article>
    <div class="hero">
      <h2 id={program.data.title.toLowerCase().replace(/[^a-z0-9-_]/g, '').replace(/\s+|-+/g, '-')}>{program.data.title}</h2>
      <Image src={program.data.image} alt=""/>
    </div>
    <Content/>
  </article>
  )})}
</Layout>
