html,
body {
  overflow-x: hidden;
}

header + a {
  animation: 1s ease-in-out 1s infinite alternate alert;
  background: var(--color-foreground);
  color: var(--color-background);
  font: var(--font-size-01) / var(--line-height-01) var(--font-stack-head);
  overflow: hidden;
  padding: calc(var(--vr) / 2) var(--vr);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
}

header + a::before,
header + a::after {
  background: var(--color-accent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  transition: width var(--transition-duration) var(--transition-timing-function);
  width: 0;
  z-index: -1;
}

header + a::after {
  background: var(--color-accent-alt);
  left: auto;
  right: 0;
}

header + a:--enter {
  background: transparent;
  color: var(--color-foreground);
  text-shadow: 0 0 0.2em var(--color-background);
}

header + a:--enter::before,
header + a:--enter::after {
  width: 15%;
}

header + a:active {
  animation: none;
}

@keyframes alert {
  to {
    transform: scale(1.1);
  }
}
