header {
  padding: var(--vr) max(var(--vr), calc(50% - var(--max-width) / 2));
}

header svg {
  height: calc(var(--vr) * 3);
  display: inline-block;
  width: auto;
}

header path {
  transition:
    fill var(--transition-duration) var(--transition-timing-function),
    stroke var(--transition-duration) var(--transition-timing-function);
}

header #s {
  stroke: var(--color-foreground);
  stroke-width: 0.5rem;
}

header #text {
  fill: var(--color-foreground);
}

header a:--enter #u {
  fill: var(--color-accent);
}

header a:--enter #s {
  fill: #fff;
  stroke: url("#gradient-red-blue");
}

header a:--enter #a {
  fill: var(--color-accent-alt);
}

header a:active :is(#u, #s, #a) {
  fill: var(--color-foreground);
  stroke: var(--color-foreground);
  transition: none;
}

@media (--dark) {
  header #s {
    stroke-width: 0;
  }

  header :is(#u, #a) {
    stroke: var(--color-foreground);
    stroke-width: 0.5rem;
  }
}
