.hero {
  align-items: flex-start;
  color: var(--color-foreground);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 0 max(var(--vr), calc(50vw - var(--max-width) / 2));
  position: relative;
  width: 100vw;
}

.hero :is(h1, h2, h3, h4, h5, h6, hgroup) {
  margin: 0;
  order: -2;
}

.hero a {
  background: linear-gradient(var(--color-accent), var(--color-accent)) 0 100% no-repeat;
  background-size: 100% 0;
  border: 0.2em solid;
  color: inherit;
  font-weight: 800;
  padding: calc(var(--vr) / 2) var(--vr);
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background-color var(--transition-duration) var(--transition-timing-function),
    background-size var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    text-shadow var(--transition-duration) var(--transition-timing-function);
}

.hero a:--enter {
  background-size: 100% 20%;
  color: var(--color-accent);
}

.hero a:active {
  background: var(--color-accent-alt);
  color: var(--color-background);
  transition: none;
}

.hero video,
.hero img {
  height: auto;
  margin: 0 calc(var(--vr) * -1) var(--vr);
  order: -1;
  max-width: none;
  width: calc(100% + var(--vr) * 2);
}

.hero hgroup {
  margin: 0;
}

main .hero {
  margin: 0 min(calc(var(--vr) * -1), calc((50vw - var(--max-width) / 2) * -1));
}

.hero p {
  font-size: var(--font-size-02);
  line-height: var(--line-height-02);
}

@media (--medium) {
  .hero {
    aspect-ratio: 1.618 / 1;
    background: linear-gradient(transparent 62%, var(--color-black));
    color: var(--color-white);
    font-weight: 500;
    overflow: hidden;
    padding: 0 max(var(--vr), calc(50vw - var(--max-width) / 2));
    text-shadow: 0.1em 0.1em 0 var(--color-black);
  }

  .hero img,
  .hero video {
    height: 100%;
    left: 0;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  main .hero {
    aspect-ratio: 3 / 1;
    margin-bottom: var(--vr);
    padding-bottom: var(--vr);
  }
}
