[href="#nav"],
[href="#top"] {
  height: calc(var(--vr) * 3);
  overflow: hidden;
  position: absolute;
  right: max(var(--vr), calc(50% - var(--max-width) / 2));
  text-indent: -999px;
  top: calc(var(--vr) * 3);
  width: calc(var(--vr) * 3);
}

[href="#nav"]::after {
  border-color: var(--color-foreground);
  border-style: solid;
  border-width: calc(var(--vr) / 2) 0;
  content: "";
  display: block;
  height: 80%;
  left: 10%;
  position: absolute;
  transition:
    border-color var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
  top: 10%;
  width: 80%;
}

[href="#nav"]::before {
  background: var(--color-foreground);
  border: var(--color-foreground) solid calc(var(--vr) / 16);
  content: "";
  display: block;
  height: calc(var(--vr) / 2);
  top: calc(50% - var(--vr) / 4);
  position: absolute;
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    border-image var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
  width: 100%;
}

[href="#nav"]:--enter::before {
  background: var(--color-white);
  border-image: linear-gradient(var(--color-accent), var(--color-accent-alt)) 1;
  transform: scale(0.9);
}

[href="#nav"]:--enter::after {
  border-top-color: var(--color-accent);
  border-bottom-color: var(--color-accent-alt);
  transform: scale(1.1);
}

[href="#top"] {
  clip: rect(0 0 0 0);
  top: calc(var(--vr) * 21);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

[href="#top"]::after,
[href="#top"]::before {
  background: var(--color-foreground);
  border: 0.1em solid transparent;
  content: "";
  display: block;
  height: calc(var(--vr) / 2);
  left: 10%;
  position: absolute;
  top: calc(50% - var(--vr) / 4);
  transform: rotate(45deg);
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
  width: 90%;
}

[href="#top"]::after {
  transform: rotate(135deg);
}

[href="#top"]:--enter {
  transform: scale(1.1);
}

[href="#top"]:--enter::after {
  background: var(--color-accent);
}

[href="#top"]:--enter::before {
  background: var(--color-accent-alt);
}

:is([href="#nav"], [href="#top"]):active {
  transform: scale(0.9);
}

nav {
  background: var(--color-accent);
  text-shadow: 0.1em 0.1em 0 var(--color-accent-alt);
  z-index: 88;
}

nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  height: 0;
  overflow: hidden;
}

nav a {
  background: linear-gradient(var(--color-accent-alt), var(--color-accent-alt))
    0 0 no-repeat;
  background-size: 0 100%;
  color: var(--color-white);
  display: block;
  font-size: var(--font-size-03);
  line-height: var(--line-height-03);
  padding: calc(var(--vr) / 2) var(--vr);
  text-decoration: none;
  text-underline-offset: 0.1em;
  transition:
    background-size var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    text-shadow var(--transition-duration) var(--transition-timing-function);
}

nav a:--enter {
  background-size: 100% 100%;
  color: var(--color-white);
  text-shadow: 0.1em 0.1em 0 var(--color-accent);
}

nav a:active {
  background: var(--color-background);
  color: var(--color-accent);
  text-shadow: none;
  transition: none;
}

nav .active a {
  text-decoration: underline;
  text-decoration-style: double;
}

nav:target li {
  height: auto;
}

nav:target ~ footer [href="#top"] {
  clip: auto;
  display: block;
  position: absolute;
  z-index: 99;
}

nav li:last-child {
  font-weight: 800;
  order: -1;
  text-transform: uppercase;
}

@media (--small) {
  nav li:last-child {
    height: auto;
    overflow: visible;
    position: absolute;
    right: calc(var(--vr) * 5.25);
    top: calc(var(--vr) * 3.25);
  }

  nav li:last-child a {
    background: linear-gradient(var(--color-accent), var(--color-accent)) 0 100%
      no-repeat;
    background-size: 100% 0;
    border: 0.2em solid;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: calc(var(--vr) / 2) var(--vr);
    text-shadow: none;
  }

  nav li:last-child a:--enter {
    background-size: 100% 20%;
    color: var(--color-accent);
    text-shadow: none;
  }

  nav li:last-child a:active {
    background: var(--color-accent-alt);
    border-color: inherit;
    color: var(--color-background);
    transition: none;
  }

  [href="#top"],
  nav:target li:last-child {
    top: calc(var(--vr) * 18);
  }
}

@media (--large) {
  [href="#nav"] {
    clip: rect(0 0 0 0);
  }

  [href="#top"],
  nav:target ~ footer [href="#top"] {
    height: auto;
    overflow: visible;
    position: static;
    text-indent: 0;
    width: auto;
  }

  /* Ignoring the descending specificity rule for this. */
  /* stylelint-disable*/
  [href="#top"]:--enter {
    transform: none;
  }
  /* stylelint-enable */

  [href="#top"]::after,
  [href="#top"]::before {
    display: none;
  }

  nav,
  nav:target {
    background: none;
    display: block;
    padding: 0 calc(50% - var(--max-width) / 2) 0 0;
    position: absolute;
    right: var(--vr);
    top: calc(var(--vr) * 3.25);
    width: auto;
  }

  nav ul {
    flex-flow: row;
  }

  nav li {
    height: auto;
    overflow: visible;
  }

  nav li:last-child {
    order: 0;
    position: static;
  }

  nav a {
    background: linear-gradient(var(--color-accent), var(--color-accent)) 0 100%
      no-repeat;
    background-size: 100% 0;
    border: 0.2em solid transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: calc(var(--vr) / 2) var(--vr);
    text-shadow: none;
  }

  nav a:--enter {
    background-size: 100% 20%;
    color: var(--color-accent);
    text-shadow: none;
  }

  nav a:active {
    background: var(--color-accent-alt);
    border-color: inherit;
    color: var(--color-background);
    transition: none;
  }
}
